.container {
    display: flex;
    flex-direction: column;
    width: 900px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Shadow ekledik */
    padding: 20px; /* İçeriği sarmalayan boşluk ekledik */
    border-radius: 10px; /* Köşeleri yuvarlattık */
    background-color: #f0f0f0; /* Arka plan rengi */
  }
  
  .gradientText {
    background: linear-gradient(to right, #30cfd0, #330867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .abilityContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: stretch;
    margin-top: 20px;
  }
  
  .abilityContainer > div {
    width: 100px; /* İkonların genişliğini ayarladık */
  }
  
  .paraghraph {
    text-align: justify; /* Paragrafı ikiye bölerek yazının hizalamasını sağladık */
    hyphens: auto; /* Kelime bölmesi ekledik */
    line-height: 1.6; /* Satır aralığını artırdık */
  }
  